.advantages {
  padding-top: 66px;
  padding-bottom: 74px;
  background: #f7f8fc url("../img/bg/rhombus-bg.png") no-repeat center top;
}

.advantages__heading {
  margin-bottom: 8px;
}

.advantages__description {
  margin: 0;
  margin-bottom: 31px;
  padding: 0 10px;

  font-size: 13px;
  line-height: 18px;
  color: #737480;
  letter-spacing: -0.1px;
}

.advantages__list {
  .list-reset;
  margin: 0 auto;
  margin-bottom: 29px;
  width: 300px;

  .slick-dots {
    .list-reset;
    margin-top: 18px;
    display: flex;
    justify-content: center;

    li {
      width: 8px;
      height: 8px;

      border-radius: 50%;
      border: 1px solid rgba(54, 57, 77, 0.5);

      &:not(:last-child) {
        margin-right: 16px;
      }

      &.slick-active {
        border: 1px solid rgba(54, 57, 77, 1);
        background-color: rgba(54, 57, 77, 1);
      }
    }

    button {
      display: none;
    }
  }
}

.advantages__item {
  position: relative;
  margin: 0 30px;
  width: 240px;
  padding: 25px 0  24px 102px;
  transform: translateX(-10px);

  border: 1px solid #dadce5;
  border-right: none;
  background-color: #f7f8fc;
  background-repeat: no-repeat;
  background-position: 19px center;

  &--pin {
    background-image: url("../img/icons/advantages/pin.png");
  }

  &--objects {
    background-image: url("../img/icons/advantages/objects.png");
  }

  &--route {
    background-image: url("../img/icons/advantages/route.png");
  }

  &--water {
    background-image: url("../img/icons/advantages/water.png");
  }

  &--flower {
    background-image: url("../img/icons/advantages/flower.png");
  }

  &--money {
    background-image: url("../img/icons/advantages/money.png");
  }

  &::before {
    position: absolute;
    top: -1px;
    right: -21px;
    width: 21px;
    height: calc(100% - 19px);

    background-color: #f7f8fc;
    border-top: 1px solid #dadce5;
    border-right: 1px solid #dadce5;

    content: "";
  }

  &::after {
    position: absolute;
    bottom: -1px;
    right: -21px;
    width: 21px;
    height: 21px;

    background: linear-gradient(to top left, @brand-color 25%, transparent 25%, transparent calc(50% - 0.5px), #dadce5 calc(50% - 0.5px), #dadce5 calc(50% + 0.5px), #f7f8fc calc(50% + 0.5px));

    content: "";
  }
}

.advantages__item-hover-element {
  position: absolute;
  top: 50%;
  left: -1px;
  transform: translateY(-50%);
  width: 1px;
  height: 35%;

  background-color: #36394d;
  transition: 0.3s;
}

.advantages__item-text {
  position: relative;
  margin: 0;

  font-size: 12px;
  line-height: 18px;
  color: #737480;

  strong {
    color: #36394d;
  }

  &::before {
    position: absolute;
    top: 7px;
    left: -14px;
    width: 4px;
    height: 4px;

    border-radius: 50%;
    background-color: #d76268;

    content: "";
  }
}

.advantages__button {
  padding: 12px 5px 10px;
  width: 232px;
}

.advantages__list-arrow {
  position: absolute;
  top: 62px;
  width: 15px;
  height: 15px;

  border: none;
  outline: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/icons/sliders/arrow2-enabled.png");
  z-index: 2;

  &--previous {
    transform: rotate(180deg);
    left: -4px;
  }

  &--next {
    right: -4px;
  }

  &.slick-disabled {
    background-image: url("../img/icons/sliders/arrow2-disabled.png");
  }
}

@media (min-width: @tablet) {
  .advantages {
    padding-top: 66px;
    padding-bottom: 74px;
    background: #f7f8fc url("../img/bg/rhombus-bg-contacts-desktop.png") no-repeat center bottom;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
  }

  .advantages__item {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 20px;
    margin-bottom: 30px;
    width: auto;
    transform: translateX(0);

    &--pin {
      width: calc(57.2% - 20px);
    }

    &--objects {
      width: calc(40.09% - 20px);
    }

    &--route {
      width: calc(48.64% - 20px);
    }

    &--water {
      width: calc(48.64% - 20px);
    }

    &--flower {
      width: calc(40.09% - 20px);
    }

    &--money {
      width: calc(57.2% - 20px);
    }
  }

  .advantages__button {
    padding: 13px 16px 11px;
    width: auto;
  }
}

@media (min-width: @desktop) {
  .advantages {
    padding-top: 112px;
    padding-bottom: 124px;

    @media (min-width: 1260px) {
      background: linear-gradient(to left, #ffffff 2.7vw, transparent 2.7vw), #f7f8fc url("../img/bg/rhombus-bg-contacts-desktop.png") no-repeat center bottom;
    }
  }

  .advantages__heading {
    margin-bottom: 12px;
  }

  .advantages__description {
    margin-bottom: 47px;
    padding: 0;

    font-size: 18px;
    line-height: 26px;
  }

  .advantages__list {
    margin-bottom: 24px;
  }

  .advantages__item {
    padding-left: 151px;
    min-height: 140px;

    background-position: 40px center;
    cursor: pointer;

    &:hover {
      .advantages__item-hover-element {
        background-color: @brand-color;
      }
    }
  }

  .advantages__item-text {
    font-size: 16px;
    line-height: 20px;
  }

  .advantages__button {
    padding: 13px 16px 11px;
  }
}
