.conditions {
  position: relative;
  margin-bottom: 45px;
  padding-top: 117px;
  padding-bottom: 125px;

  background: #5b6951 url("../img/bg/conditions-bg.jpg") no-repeat center bottom;

  .container {
    max-width: 580px;
  }
}

.conditions__heading {
  margin: 0 auto;
  width: auto;
  max-width: 580px;
}

.conditions__text {
  margin: 0;
  margin-bottom: 21px;
  padding: 0 30px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.conditions__text-area {
  color: @brand-color;
}

.conditions__button {
  margin-left: 30px;
  padding: 20px 53px 18px;
  box-shadow: 0 25px 70px 0 rgba(0, 0, 0, 0.2);

  &::before {
    background-image: linear-gradient(to right, #ffffff 4px, transparent 4px, transparent calc(100% - 4px), #ffffff calc(100% - 4px));
  }
}

@media (min-width: @tablet) {
  .conditions {
    background: #5b6951 url("../img/bg/conditions-bg-desktop.jpg") no-repeat right bottom;
  }

  .conditions__text {
    padding: 0 20px;
  }

  .conditions__button {
    margin-left: 20px;
    padding: 13px 50px 11px;
  }
}

@media (min-width: @desktop) {
  .conditions {
    padding-top: 113px;
    padding-bottom: 123px;

    background: linear-gradient(to right, #ffffff 52px, transparent 52px), #5b6951 url("../img/bg/conditions-bg-desktop.jpg") no-repeat right bottom;

    .container {
      max-width: 1170px;
    }
  }

  .conditions__heading {
    padding: 0 95px;
    max-width: @desktop;
  }

  .conditions__text {
    margin-bottom: 54px;
    padding: 0 64px;

    font-size: 27px;
    line-height: 34px;
    letter-spacing: -0.1px;
  }

  .conditions__button {
    margin-left: 65px;
    padding: 13px 57px 11px;
  }

  .conditions__notify {
    width: 404px;
  }
}
