.conditions {
  position: relative;
  margin-bottom: 45px;
  padding-top: 117px;
  padding-bottom: 125px;

  background: #5b6951 url("../img/bg/conditions-bg.jpg") no-repeat center bottom;
  z-index: -1;
}

.conditions__text {
  margin: 0;
  margin-bottom: 21px;
  padding: 0 30px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.conditions__text-area {
  color: @brand-color;
}

.conditions__button {
  margin-left: 30px;
  padding: 20px 53px 18px;
  box-shadow: 0 25px 70px 0 rgba(0, 0, 0, 0.2);

  &::before {
    background-image: linear-gradient(to right, #ffffff 4px, transparent 4px, transparent calc(100% - 4px), #ffffff calc(100% - 4px));
  }
}
