.gallery {
  padding-bottom: 54px;
}

.gallery__heading {
  margin-bottom: 30px;
}

.gallery__list {
  .list-reset;
}

.gallery__image-wrapper {
  display: block;
  margin-bottom: 10px;
  width: 100%;

  img {
    display: block;
    width: 100%;
  }
}

.gallery__text-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.gallery__text {
  margin-right: 10px;

  font-size: 12px;
  line-height: 16px;
  color: #737480;
}

.gallery__counter {
  display: flex;
  align-items: flex-start;
  padding-top: 23px;

  white-space: nowrap;
  font-size: 11px;
  line-height: 16px;
}

.gallery__current-item {
  font-size: 30px;
  line-height: 26px;
  font-weight: 700;
  color: @brand-color;
}

.gallery__counter-slash {
  margin: 0 3px 0 5px;
}
