.location {
  padding-top: 64px;
  padding-bottom: 74px;
}

.location__heading {
  margin-bottom: 26px;
}

.location__text {
  margin: 0;
  margin-bottom: 22px;
  padding: 0 10px;

  font-size: 12px;
  line-height: 16px;
  color: #737480;

  b {
    color: #36394d;
    font-weight: 600;
  }
}

.location__map {
  display: block;
  width: 100%;

  img {
    display: block;
    width: 100%;
  }
}

.location__notify {
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  margin-right: -10px;
  padding: 27px 20px;
  padding-left: 63px;

  font-size: 12px;
  line-height: 16px;
  font-style: italic;
  color: #737480;

  background-color: #f1f2f7;

  &::before {
    position: absolute;
    top: 50%;
    left: 29px;
    transform: translateY(-50%);
    width: 5px;
    height: 28px;

    background: url("../img/icons/!green.png") no-repeat center;

    content: "";
  }

  b {
    font-weight: 600;
  }
}

.location__button {
  width: 232px;
}

@media (min-width: @tablet) {
  .location {
    .container {
      position: relative;
      display: flex;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: wrap;
      margin-bottom: 55px;
    }
  }

  .location__text-wrapper {
    display: flex;
    align-items: center;
    margin-right: 2.7%;
    margin-bottom: 14%;
    width: 22.9%;
  }

  .location__text {
    margin: 0;
    padding: 0;
  }

  .location__map {
    width: 74.3%;
  }

  .location__notify {
    position: absolute;
    left: 20px;
    bottom: 0;
    margin: 0;
    width: 40%;
  }

  .location__button {
    width: auto;
  }
}
