.location {
  padding-top: 64px;
  padding-bottom: 74px;
}

.location__heading {
  margin-bottom: 26px;
}

.location__text {
  margin: 0;
  margin-bottom: 22px;
  padding: 0 10px;

  font-size: 12px;
  line-height: 16px;
  color: #737480;

  b {
    color: #36394d;
    font-weight: 600;
  }
}

.location__map {
  display: block;
  width: 100%;

  img {
    display: block;
    width: 100%;
  }
}

.location__notify {
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  margin-right: -10px;
  padding: 27px 20px;
  padding-left: 63px;

  font-size: 12px;
  line-height: 16px;
  font-style: italic;
  color: #737480;

  background-color: #f1f2f7;

  &::before {
    position: absolute;
    top: 50%;
    left: 29px;
    transform: translateY(-50%);
    width: 5px;
    height: 28px;

    background: url("../img/icons/!green.png") no-repeat center;
    background-size: contain;

    content: "";
  }

  b {
    font-weight: 600;
  }
}

.location__button {
  width: 232px;
}

@media (min-width: @tablet) {
  .location {
    .container {
      position: relative;
      display: flex;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: wrap;
      margin-bottom: 55px;
    }
  }

  .location__text-wrapper {
    display: flex;
    align-items: center;
    margin-right: 2.7%;
    margin-bottom: 14%;
    width: 22.9%;
  }

  .location__text {
    margin: 0;
    padding: 0;
  }

  .location__map {
    width: 74.3%;
  }

  .location__notify {
    position: absolute;
    left: 20px;
    bottom: 0;
    margin: 0;
    width: 40%;

    &::after {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 10px;
      height: 10px;

      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-right: 1px solid rgba(255, 255, 255, 0.5);

      content: "";
    }
  }

  .location__button {
    width: auto;
  }
}

@media (min-width: @desktop) {
  .location {
    padding-top: 112px;
    padding-bottom: 127px;
  }

  .location__heading {
    margin-bottom: 63px;
  }

  .location__text {
    margin-top: -20px;
    padding-left: 10px;

    font-size: 16px;
    line-height: 26px;
  }

  .location__notify {
    width: 39%;
    padding-top: 53px;
    padding-bottom: 49px;
    padding-left: 102px;
    padding-right: 35px;
    font-size: 16px;
    line-height: 26px;

    &::before {
      top: 50%;
      left: 52px;
      width: 8px;
      height: 42px;
    }
  }
}
