.main-heading {
  margin: 0;
  margin-bottom: 5px;
  padding: 0 40px;
  width: 100%;
}

.main-heading__pre-heading {
  position: relative;
  display: block;
  margin-bottom: 12px;

  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;

  &::before {
    position: absolute;
    top: 50%;
    left: -30px;

    width: 20px;
    height: 1px;

    background-color: @brand-color;
    content: "";
  }
}

.main-heading__text-heading {
  position: relative;
  display: block;

  font-size: 30px;
  line-height: 34px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  letter-spacing: 4.2px;

  &::before {
    position: absolute;
    top: 12px;
    left: -24px;
    transform: rotate(45deg);

    width: 8px;
    height: 8px;

    border: 1px solid rgba(255, 255, 255, 0.4);

    content: "";
  }
}

@media (min-width: @desktop) {
  .main-heading {
    // margin-bottom: 5px;
    padding: 0 124px;
  }

  .main-heading__pre-heading {
    margin-bottom: 22px;

    font-size: 20px;
    line-height: 24px;

    &::before {
      top: 50%;
      left: -63px;

      width: 40px;
      height: 1px;
    }
  }

  .main-heading__text-heading {
    margin-left: -2px;
    margin-bottom: 11px;

    font-size: 50px;
    line-height: 60px;
    letter-spacing: 10px;

    &::before {
      top: 27px;
      left: -45px;
    }
  }
}
