.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  padding: 12px 10px 57px;
  width: 100%;

  background-color: #ffffff;
  z-index: 11;

  &--opened {
    animation: open-menu 0.5s;
    animation-fill-mode: forwards;
  }

  &--closed {
    animation: close-menu 0.5s;
    animation-fill-mode: forwards;
  }
}

.menu__tel-wrapper {
  margin: 0;
}

.menu__tel-number {
  position: relative;
  margin-right: 9px;
  padding-left: 30px;

  font-size: 14px;
  line-height: 18px;
  color: @dark-text;
  font-weight: 700;

  &::before {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;

    background: url("../img/svg/phone.svg") no-repeat center;
    content: "";
  }
}

.menu__tel-button {
  position: relative;
  padding: 0;
  padding-bottom: 3px;

  color: #737480;
  font-size: 11px;
  line-height: 14px;

  border: none;
  outline: none;
  background-color: transparent;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;

    background: @line-gradient;
    content: "";
  }
}

.menu__list {
  .list-reset;
  width: 300px;
  margin: 0 auto;
  padding: 40px 30px 35px;
}

.menu__item {
  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.menu__link {
  position: relative;
  display: block;

  font-size: 12px;
  line-height: 30px;
  color: #737480;
  text-transform: uppercase;

  &.mPS2id-highlight-last {
    font-size: 14px;
    font-weight: 700;
    color: #36394d;

    &::before {
      position: absolute;
      top: 50%;
      left: -20px;
      width: 6px;
      height: 6px;
      transform: translateY(-50%) rotate(45deg);

      background: linear-gradient(45deg, transparent 55%, @brand-color 55%);
      content: "";
    }
  }
}
