.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(54, 57, 77, 0.95);
  z-index: 10;

  &--active {
    display: block;
  }

  &--popup {
    z-index: 16;
  }
}
