.page-header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 17px;
  padding-bottom: 15px;
  width: 100%;

  background-color: #ffffff;
  z-index: 15;
}

.page-header__logo-wrapper {
  display: flex;
  align-items: center;
}

.page-header__logo-primary {
  position: relative;
  margin-right: 10px;
  margin-left: 3px;
  padding: 0 12px 0 15px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: @dark-text;
  text-transform: uppercase;
  letter-spacing: 2px;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;

    border-radius: 50%;
    background-color: @brand-color;
    content: "";
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.page-header__logo-secondary {
  font-size: 11px;
  line-height: 14px;
  color: #737480;
}

.page-header__menu-button {
  position: absolute;
  top: 18px;
  right: 19px;

  width: 22px;
  height: 15px;

  border: none;
  outline: none;
  background-color: transparent;
  z-index: 12;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 22px;
    height: 3px;

    background-color: @dark-text;
    content: "";
  }

  &::before {
    top: 0;
  }

  &::after {
    top: 6px;
    box-shadow: 0 6px 0 0 @dark-text;
  }

  &--opened {
    &::before {
      animation: burger-to-cross-1 0.5s forwards;
    }

    &::after {
      animation: burger-to-cross-2 0.5s forwards;
    }
  }

  &--closed {
    &::before {
      animation: cross-to-burger-1 0.5s forwards;
    }

    &::after {
      animation: cross-to-burger-2 0.5s forwards;
    }
  }
}

.page-header__tel-wrapper {
  display: none;
}
