.use {
  padding-top: 65px;
  padding-bottom: 74px;

  .container {
    padding: 0;
  }
}

.use__heading {
  margin-bottom: 33px;
}

.use__buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.use__button {
  position: relative;
  padding: 7px 15px;

  font-size: 12px;
  line-height: 26px;
  text-transform: none;
  color: rgba(115, 116, 128, 0.7);
  font-weight: 400;

  background-color: transparent;
  box-shadow: none;
  outline-color: #dadce5;

  &::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 8px);
    height: calc(100% + 8px);

    border: 1px solid #dadce5;

    background-image: none;
  }

  &::after {
    display: none;
  }

  &--active {
    background-color: #f0f1f7;
    color: #36394d;
  }

  &:not(:last-child) {
    margin-right: 18px;

    &::after {
      display: block;
      position: absolute;
      top: 50%;
      left: auto;
      right: -11px;
      width: 4px;
      height: 4px;
      transform: translateY(-50%);

      border-radius: 50%;
      border: none;
      background: none;
      background-color: #9a9ca6;
      content: "";
    }
  }
}

.use__list {
  .list-reset;
  position: relative;
  display: none;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 310px;

  @media (min-width: 475px) {
    width: 465px;
  }

  &--active {
    display: flex;
  }

  &::after {
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 1px;

    background: linear-gradient(to right, transparent, #ebedf5, transparent);
    content: "";
  }
}

.use__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  margin-bottom: 8px;
}

.use__item-heading {
  margin: 0;

  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  color: #36394d;
}

.use__item-icon-wrapper {
  position: relative;
  order: -1;
  margin-bottom: 3px;
  width: 145px;
  height: 82px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(54, 57, 77, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    content: "";
  }

  &--cow {
    background-image: url("../img/bg/use/1.jpg");

    &::before {
      background-image: url("../img/icons/use/cow.png");
    }
  }

  &--fox {
    background-image: url("../img/bg/use/2.jpg");

    &::before {
      background-image: url("../img/icons/use/fox.png");
    }
  }

  &--pig {
    background-image: url("../img/bg/use/3.jpg");

    &::before {
      background-image: url("../img/icons/use/pig.png");
    }
  }

  &--rabbit {
    background-image: url("../img/bg/use/4.jpg");

    &::before {
      background-image: url("../img/icons/use/rabbit.png");
    }
  }

  &--sheep {
    background-image: url("../img/bg/use/5.jpg");

    &::before {
      background-image: url("../img/icons/use/sheep.png");
    }
  }

  &--horse {
    background-image: url("../img/bg/use/6.jpg");

    &::before {
      background-image: url("../img/icons/use/horse.png");
    }
  }

  &--duck {
    background-image: url("../img/bg/use/7.jpg");

    &::before {
      background-image: url("../img/icons/use/duck.png");
    }
  }

  &--grain {
    background-image: url("../img/bg/use/8.jpg");

    &::before {
      background-image: url("../img/icons/use/grain.png");
    }
  }

  &--root {
    background-image: url("../img/bg/use/9.jpg");

    &::before {
      background-image: url("../img/icons/use/root.png");
    }
  }

  &--tech {
    background-image: url("../img/bg/use/10.jpg");

    &::before {
      background-image: url("../img/icons/use/tech.png");
    }
  }

  &--tuber {
    background-image: url("../img/bg/use/11.jpg");

    &::before {
      background-image: url("../img/icons/use/tuber.png");
    }
  }

  &--food {
    background-image: url("../img/bg/use/12.jpg");

    &::before {
      background-image: url("../img/icons/use/food.png");
    }
  }

  &--silo {
    background-image: url("../img/bg/use/13.jpg");

    &::before {
      background-image: url("../img/icons/use/silo.png");
    }
  }
}

.use__download-button {
  padding: 12px 27px 10px;
}

@media (min-width: @tablet) {
  .use__list {
    width: 620px;
  }

  .use__download-button {
    padding: 13px 57px 11px;
  }
}

@media (min-width: @desktop) {
  .use {
    padding-top: 115px;
    padding-bottom: 85px;

    .container {
      padding: 0 30px;
    }
  }

  .use__heading {
    margin-bottom: 68px;
  }

  .use__buttons-wrapper {
    margin-bottom: 65px;
  }

  .use__button {
    padding: 13px 43px;

    font-size: 18px;
    line-height: 26px;

    &:not(:last-child) {
      margin-right: 38px;

      &::after {
        right: -23px;
        width: 9px;
        height: 9px;
        transform: translateY(-50%) rotate(45deg);

        border-radius: 0;
        background-color: rgba(230, 232, 242, 0.8);
        cursor: default;
      }
    }
  }

  .use__list {
    width: auto;
    margin: 0 -15px;
    margin-bottom: 34px;

    &::after {
      bottom: -1px;
    }
  }

  .use__item {
    position: relative;
    margin: 0 15px;
    margin-bottom: 30px;
    width: 255px;
    height: 143px;

    background: #36394d url("../img/icons/use/icon-bg.png") no-repeat center;
    cursor: pointer;

    &:hover {
      .use__item-heading {
        opacity: 1;
      }

      .use__item-icon-wrapper {
        margin-bottom: 0;
        width: 100%;
        height: 100%;

        &::before {
          opacity: 0;
        }
      }
    }
  }

  .use__item-icon-wrapper {
    margin-bottom: 0;
    width: 100%;
    height: 100%;

    &::before {
      background-color: transparent;
      transition: 0.2s;
    }

    &--cow {
      background-image: none;

      &::before {
        background-image: url("../img/icons/use/cow-large.png");
      }
    }

    &--fox {
      background-image: none;

      &::before {
        background-image: url("../img/icons/use/fox-large.png");
      }
    }

    &--pig {
      background-image: none;

      &::before {
        background-image: url("../img/icons/use/pig-large.png");
      }
    }

    &--rabbit {
      background-image: none;

      &::before {
        background-image: url("../img/icons/use/rabbit-large.png");
      }
    }

    &--sheep {
      background-image: none;

      &::before {
        background-image: url("../img/icons/use/sheep-large.png");
      }
    }

    &--horse {
      background-image: none;

      &::before {
        background-image: url("../img/icons/use/horse-large.png");
      }
    }

    &--duck {
      background-image: none;

      &::before {
        background-image: url("../img/icons/use/duck-large.png");
      }
    }

    &--grain {
      background-image: none;

      &::before {
        background-image: url("../img/icons/use/grain-large.png");
      }
    }

    &--root {
      background-image: none;

      &::before {
        background-image: url("../img/icons/use/root-large.png");
      }
    }

    &--tech {
      background-image: none;

      &::before {
        background-image: url("../img/icons/use/tech-large.png");
      }
    }

    &--tuber {
      background-image: none;

      &::before {
        background-image: url("../img/icons/use/tuber-large.png");
      }
    }

    &--food {
      background-image: none;

      &::before {
        background-image: url("../img/icons/use/food-large.png");
      }
    }

    &--silo {
      background-image: none;

      &::before {
        background-image: url("../img/icons/use/silo-large.png");
      }
    }
  }

  .use__item-heading {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    padding: 0 20px;

    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    opacity: 0;

    transition: 0.2s;
    cursor: default;
    z-index: 1;
  }

  .use__download-button {
    padding: 13px 57px 11px;
  }
}
